h1{color: #D9D9D9; font-size: 48px;  padding-bottom: 25px;}
h2{color: #c0c0c0; padding-top: 25px; padding-bottom: 25px;}
p{ color: #aaaaaa; padding-top: 25px;}
p , h1, h2, a{font-family: 'Inter', sans-serif;}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{background-color: #393939; display: grid;}
nav{
    display: flex;
    align-items: center;
    background-color: #2D2D2D;
    justify-content:space-between;
    padding: 10px;
} nav > ul{
    list-style: none;
    display: flex;
    gap: 32px;
} nav > ul > li > a,img{
    color:#D9D9D9;
    text-decoration: none;
}
main{
    width: 1440px;
    height: 800px;
    display: grid;
    justify-content: center;
    align-items: center;
} main > section{
    display: flex;
    align-items: center;

} main > section > article{
    width: 500px;
    text-align: center;
    padding-left:200px ;
} main > section > img{
    width: 600px;
    height: 700px;
}
